* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0b0f14;
    color: white;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00e5ff;
    margin-bottom: 15px;
}

/* CHAT */
.chat {
    flex: 1;
    background: #010409;
    padding: 15px;
    border-radius: 12px;
    overflow-y: auto;
}

/* MESSAGES */
.message {
    margin-bottom: 10px;
    line-height: 1.5;
}

.you {
    color: white;
}

.jarvis {
    color: #00e5ff;
}

/* INPUT BAR */
.input-bar {
    display: flex;
    gap: 10px;
    padding: 12px;
    background: #010409;
    border-radius: 12px;
    margin-top: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid #555;
    background: #0b0f14;
    color: white;
    outline: none;
}

input[type="text"]:focus {
    border-color: #00e5ff;
}

button {
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    background: #00e5ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

/* ICON BUTTONS */
#voiceBtn,
#imageBtn {
    background: transparent;
    border: 1px solid #00e5ff;
    color: #00e5ff;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50%;
}
